# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.pyc
*.pyo
.DS_Store
Excersice
Data/1
*.pkl
*.png
*.jpg
*.jpeg
!lr.pkl
Dataset_v1.csv
Dataset copy.csv



# Distribution / packaging
bin/
build/
dist/